In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
%matplotlib inline

In [60]:
data = pd.read_csv('Income_training.csv')
test = pd.read_csv('Income_testing.csv')

In [61]:
data.head()

   compositeHourlyWages  age  yearsEducation  sex1M0F
0                 21.38   58              10        1
1                 25.15   42              16        1
2                  8.57   31              12        0
3                 12.07   43              13        0
4                 10.97   46              12        0

In [62]:
data.describe()

       compositeHourlyWages          age  yearsEducation      sex1M0F
count           3197.000000  3197.000000     3197.000000  3197.000000
mean              15.495127    36.884579       13.180794     0.491711
std                7.754763    11.996980        3.042127     0.500009
min                2.300000    16.000000        0.000000     0.000000
25%                9.250000    28.000000       12.000000     0.000000
50%               14.210000    36.000000       13.000000     0.000000
75%               19.650000    46.000000       15.000000     1.000000
max               49.920000    65.000000       20.000000     1.000000

In [63]:
data.isna().sum()

compositeHourlyWages    0
age                     0
yearsEducation          0
sex1M0F                 0
dtype: int64

In [64]:
data['catAge'] = pd.qcut(data.age,q=4,labels=False)
test['catAge'] = pd.qcut(test.age,q=4,labels=False)

In [65]:
data['catedu'] = pd.qcut(data.yearsEducation,q=4,labels=False)
test['catedu'] = pd.qcut(test.yearsEducation,q=4,labels=False)

In [66]:
trainX=data.drop(['compositeHourlyWages'],axis=1)
trainY=data['compositeHourlyWages']
testX = test.drop(['ID'],axis=1)

In [67]:
import sklearn
import xgboost as xgb

In [68]:
from sklearn.ensemble import RandomForestRegressor as rf

In [78]:
xgb1 = xgb.XGBRegressor(colsample_bytree=0.8,
                 gamma=0,                 
                 learning_rate=0.001,
                 max_depth=5,
                 min_child_weight=1,
                 n_estimators=10000,                                                                    
                 reg_alpha=0.75,
                 reg_lambda=0.45,
                 subsample=0.75,
                 cv=5,
                 seed=42)

In [84]:
xgb1.fit(trainX,trainY,eval_metric='rmse')

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, cv=10, gamma=0, learning_rate=0.001,
       max_delta_step=0, max_depth=5, min_child_weight=1, missing=None,
       n_estimators=10000, n_jobs=1, nthread=None, objective='reg:linear',
       random_state=0, reg_alpha=0.75, reg_lambda=0.45, scale_pos_weight=1,
       seed=42, silent=True, subsample=0.75)

In [86]:
xgb1.feature_importances_
xgb1.evals_result

<bound method XGBModel.evals_result of XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, cv=10, gamma=0, learning_rate=0.001,
       max_delta_step=0, max_depth=5, min_child_weight=1, missing=None,
       n_estimators=10000, n_jobs=1, nthread=None, objective='reg:linear',
       random_state=0, reg_alpha=0.75, reg_lambda=0.45, scale_pos_weight=1,
       seed=42, silent=True, subsample=0.75)>

In [87]:
trainX.head()

   age  yearsEducation  sex1M0F  catAge  catedu
0   58              10        1       3       0
1   42              16        1       2       3
2   31              12        0       1       0
3   43              13        0       2       1
4   46              12        0       2       0

In [88]:
wage = xgb1.predict(testX)

In [89]:
wage

array([23.414495 , 19.199755 , 11.17465  , 19.495245 , 13.116385 ,
       19.091608 , 16.54247  , 19.70541  , 12.121746 , 17.076214 ,
       12.238341 ,  8.456589 ,  8.382847 , 12.80588  , 14.118797 ,
       20.002678 , 17.357723 ,  9.426744 , 12.934848 , 21.06505  ,
       15.493535 , 17.650356 , 14.511808 , 22.46886  , 13.214155 ,
       17.634344 , 18.59823  ,  8.382847 ,  6.4377327, 12.631687 ,
        6.967594 , 15.103856 , 22.539263 , 13.97384  , 11.369704 ,
       17.315422 , 13.337374 ,  8.865625 , 19.967443 , 17.083685 ,
       11.084749 , 19.967443 , 22.660025 ,  8.532091 , 15.046243 ,
       14.797942 , 10.888179 , 25.441296 , 21.323229 ,  7.7052703,
        7.7052703, 22.277607 , 14.331725 ,  6.595402 ,  8.752646 ,
       14.118797 , 21.641281 , 20.032911 , 17.504417 , 16.509308 ,
       21.017912 , 20.06996  , 13.932631 , 14.664213 , 12.396114 ,
        7.8427067, 22.277607 , 17.981794 , 13.079773 , 13.599446 ,
       13.649033 , 17.981794 , 14.605376 ,  8.456589 , 19.472677 ,
       30.770725 , 19.166643 , 11.777523 , 13.834841 ,  6.424692 ,
       28.76196  , 19.324923 , 14.517978 , 17.5071   , 15.493535 ,
       12.332438 , 22.174658 , 17.89628  , 10.633562 , 17.736496 ,
       14.176024 , 16.962494 , 23.745647 , 17.68938  , 15.878599 ,
       14.653112 ,  8.9471035, 15.87572  , 12.1875   , 23.625473 ,
       22.590199 , 13.777678 ,  6.0293303, 16.238205 ,  7.7788844,
        9.01422  , 23.97614  ,  7.1245384, 10.056371 , 18.112436 ,
       15.512425 , 18.043982 , 14.686841 , 12.691811 , 11.354987 ,
       22.979822 , 10.019006 , 12.80588  ,  8.53289  , 18.848463 ,
       11.46816  , 15.526081 , 10.839556 , 16.33461  , 21.586569 ,
       14.733361 , 19.166643 , 17.210325 , 14.646873 , 19.802414 ,
       25.237328 , 22.660025 ,  7.3670573, 16.55704  , 13.470331 ,
       13.061672 , 13.794855 , 17.47989  ,  6.595402 , 10.350002 ,
       14.324679 , 20.33741  ,  8.116251 , 20.65531  , 24.373154 ,
       23.076784 , 19.641323 , 20.79162  , 14.605376 , 13.552701 ,
       24.001799 , 31.507318 , 21.586569 , 21.289211 , 19.472677 ,
       15.036102 , 19.641323 , 18.361149 , 15.050943 , 17.950504 ,
       21.23752  , 18.439188 , 13.097735 , 17.636005 ,  7.281243 ,
       30.852678 , 16.334538 , 20.707964 , 17.89628  , 13.219326 ,
       12.615479 ,  9.7698345, 13.517987 , 16.21734  , 20.259212 ,
       13.601003 , 18.52633  , 16.649778 , 13.6893015, 11.9778595,
       26.835764 , 18.07908  , 12.655    , 18.868261 , 19.740185 ,
       21.36916  , 12.757417 , 14.733361 ,  9.017621 , 14.664213 ,
       15.800048 , 12.250783 , 15.98746  , 21.974703 , 20.911709 ,
        9.875232 , 12.774133 , 17.703661 , 24.048239 , 12.80588  ,
       17.537197 , 14.387805 , 14.182815 , 15.695944 , 24.328436 ,
       15.202178 , 14.605376 , 21.640804 , 20.689821 , 22.609833 ,
        8.865625 , 11.589451 , 18.399761 , 16.509308 , 16.76096  ,
       14.276483 ,  7.0156736, 22.933317 , 15.897863 ,  8.308978 ,
       20.79162  , 17.510551 , 20.06996  , 14.653112 , 18.544863 ,
       14.70365  , 10.972121 , 22.174658 , 12.148081 , 16.509308 ,
       17.009577 , 17.315422 , 13.315688 , 12.148081 , 19.191898 ,
        6.424692 , 17.5071   , 17.174334 , 18.374588 , 21.888237 ,
       13.97384  , 13.301201 , 16.509308 , 15.526081 , 15.540173 ,
       14.106837 , 14.517978 , 10.601769 , 13.601003 , 18.737703 ,
       21.178097 , 18.785418 , 17.736496 , 13.7345295, 25.317617 ,
       13.642122 , 31.123808 , 13.759933 , 20.949026 , 12.046175 ,
       17.47989  ,  7.1540337, 13.000739 , 22.537992 , 14.106837 ,
       13.517987 , 12.148081 , 19.472677 , 12.80588  , 14.605376 ,
       11.753987 , 10.384426 , 18.32325  , 25.167278 , 13.21369  ,
        8.456589 , 22.702627 , 26.247356 , 21.696663 , 12.332438 ,
       21.643438 , 10.57727  , 16.649778 , 19.28515  , 18.104313 ,
       22.499237 , 22.008905 , 18.894579 , 21.09487  , 23.775393 ,
       30.954493 , 18.092583 , 13.6893015,  7.1540337, 22.252602 ,
       20.061287 , 15.069164 , 14.637308 , 21.969198 , 12.934848 ,
        8.752646 , 18.584538 , 21.89899  , 11.763754 , 19.705608 ,
       21.063917 ,  9.7698345,  8.644431 , 15.899055 , 18.737703 ,
       24.152605 , 22.360104 , 17.135624 ,  6.740533 , 12.247034 ,
       14.005957 ,  7.1054525, 20.877123 ,  7.918534 , 18.848463 ,
       10.98521  , 14.005957 , 11.491323 , 22.946444 , 19.12257  ,
       10.479263 , 21.190905 , 12.68531  ,  9.33952  , 21.506403 ,
       18.773207 , 16.816513 , 19.922333 , 20.471577 , 16.258238 ,
       28.009878 , 14.428828 , 11.934765 , 28.986612 , 17.960268 ,
        9.584008 , 15.074647 , 21.305092 , 20.707964 , 19.676779 ,
       15.36926  , 14.605376 , 31.908464 ,  7.918534 , 10.839556 ,
       10.98521  , 10.019006 , 21.392399 , 14.642946 , 13.588927 ,
       21.06583  ,  7.3670573,  9.602643 , 12.167404 , 18.158726 ,
       20.877123 ,  8.21984  , 13.214155 , 20.472408 , 13.21369  ,
       19.967443 , 12.051552 ,  7.8427067, 26.350567 , 12.457552 ,
       25.167278 , 11.589451 , 15.526081 , 11.934765 , 22.463175 ,
       12.615479 , 18.544863 , 14.134478 , 21.902721 , 13.7345295,
        7.5312967, 17.086296 , 26.974499 , 13.525533 , 12.879629 ,
       18.763826 , 21.12439  , 11.777523 ,  8.308978 ,  8.865625 ,
       20.580069 , 14.227468 , 17.703661 ,  7.741962 , 21.06583  ,
       13.57284  ,  7.3670573, 13.200646 , 12.746391 , 20.277653 ,
       13.473731 , 18.112436 , 10.950484 , 28.009878 , 15.471687 ,
       11.089131 ,  7.5425897, 18.240685 , 16.649778 , 24.808104 ,
        8.905962 , 13.896832 , 12.80588  , 14.816721 , 22.98084  ,
       19.802414 , 13.17522  , 12.97087  ,  7.796822 , 14.884767 ,
       13.797316 , 18.383215 , 14.063727 , 13.315688 , 17.489107 ,
       21.569021 , 11.246522 , 16.200123 , 17.109072 ,  6.4860964,
       18.861473 , 18.240685 , 11.777523 , 19.15111  , 21.790257 ,
       19.131134 , 13.428378 , 12.585365 , 22.095846 ,  6.59652  ,
       10.98521  , 16.649778 ,  9.664314 , 14.995223 , 22.933317 ,
       17.504417 , 26.826443 , 26.390337 , 22.213757 , 13.6893015,
       12.045037 , 21.790257 , 19.745087 , 20.06996  , 21.2378   ,
       14.4859085, 16.56786  , 13.97384  , 10.020398 , 13.794855 ,
       19.131134 , 14.54646  , 20.33741  , 17.605148 , 12.396114 ,
       11.089131 ,  9.544895 , 12.455357 , 22.004564 , 14.664213 ,
        7.5312967, 16.76096  , 14.227468 , 10.924945 , 18.250452 ,
       17.181293 , 19.676779 , 14.642946 , 13.668389 , 17.665642 ,
       14.517978 , 15.036102 , 20.79162  , 15.36926  ,  8.865625 ,
       11.46816  , 13.582217 , 13.517987 ,  9.290339 , 13.000586 ,
       19.12257  ,  9.544895 , 25.389187 , 18.32325  ,  9.290339 ,
       14.964504 , 14.425052 , 20.797686 , 10.2169895, 14.118797 ,
       21.192617 , 25.043526 ,  7.7052703, 21.489601 , 14.888407 ,
        8.21984  , 10.98521  , 12.713542 ,  9.487774 , 12.250783 ,
       13.47575  , 11.16624  , 14.927467 , 13.219326 ,  9.400884 ,
       20.8075   , 25.919182 , 19.091608 , 17.286377 , 13.896832 ,
       17.47989  , 11.089131 , 17.286377 , 16.071873 , 20.998264 ,
       20.483107 , 18.781862 , 21.034636 , 15.880369 ,  8.787495 ,
       15.511516 , 13.286501 , 13.319205 ,  7.9003935, 16.889843 ,
       11.663385 , 22.028828 , 10.57727  , 25.377787 , 11.206587 ,
       14.106837 , 27.032232 ,  8.461163 , 19.922333 , 19.684738 ,
       11.869411 , 17.315422 , 13.219326 , 14.642946 , 19.57847  ,
       19.70541  , 13.514308 ,  8.280774 , 27.34074  , 11.739109 ,
        7.9819446, 13.387164 , 16.275867 , 15.897863 , 12.691811 ,
       16.91657  , 13.649033 , 17.315422 , 13.301201 , 13.397348 ,
       14.927467 , 13.061672 , 13.592344 , 21.09487  , 31.123808 ,
       18.587044 , 17.390202 , 19.25333  , 21.974703 , 14.664213 ,
       22.004564 , 13.174729 , 15.800048 ,  7.5425897, 17.181293 ,
       11.635916 , 13.214155 , 20.17981  , 11.253617 , 19.641323 ,
       21.353392 , 11.45712  , 15.511516 , 20.061287 , 16.275867 ,
       12.962501 , 23.775393 , 19.745087 , 10.98521  , 13.214155 ,
       12.029716 , 12.901472 , 14.816721 , 19.87252  , 13.397348 ,
        6.595402 , 14.005957 ,  7.1540337, 18.158726 , 15.899055 ,
       18.376724 ,  6.967594 , 19.802414 , 14.014636 , 11.365419 ,
       15.490962 , 10.013135 , 14.517978 , 11.46816  , 20.360916 ,
       23.775393 , 14.294427 , 22.609833 ,  8.594074 ,  9.250125 ,
        8.308978 , 18.74686  , 17.315422 , 12.924257 , 21.781647 ,
        7.2134776, 17.489107 , 19.28515  , 24.048239 , 14.646873 ,
       23.657042 , 15.103856 , 23.073627 ,  9.431465 ,  9.487774 ,
       14.646873 , 15.98746  , 16.059578 , 20.707964 , 17.981794 ,
       13.881472 , 12.655    ,  7.1105723, 21.190905 , 19.745087 ,
       28.009878 , 14.888407 , 13.881472 , 14.106837 , 13.214155 ,
       13.793507 , 11.206587 , 16.838396 , 22.213757 , 13.517987 ,
        9.017621 , 16.103518 ,  9.686006 , 14.063727 , 10.019006 ,
       12.250783 , 16.889843 , 10.3215475, 10.57727  ,  8.382847 ,
       19.70541  , 15.471687 , 17.605148 , 21.477905 , 22.719124 ,
       19.742384 , 21.477905 , 14.352279 , 17.181293 , 13.662594 ,
        8.21984  , 10.2169895, 12.414419 , 17.009577 ,  6.4860964,
       18.4323   , 13.232983 , 19.652071 , 13.7345295, 24.55812  ,
       19.70541  , 26.207554 , 11.16624  , 19.495245 , 16.266941 ,
       19.15111  , 12.256187 , 14.511808 ,  9.352854 , 11.142535 ,
        8.594074 ,  7.5312967, 17.47989  , 12.396114 , 12.615479 ,
       19.565039 ,  7.5312967, 18.646135 , 19.199755 ,  8.53289  ,
       13.232983 , 21.640265 ,  7.918534 ,  7.918534 , 16.028702 ,
       15.471687 , 14.54646  ,  9.699094 , 10.924945 , 30.954493 ,
       14.425052 , 11.16624  , 16.266941 , 14.428828 , 13.517987 ,
       29.118893 , 20.364883 ,  6.740533 ,  8.382847 , 12.428528 ,
       21.459152 , 15.897863 , 21.289211 , 14.118797 , 11.089131 ,
       11.777523 , 10.384426 , 28.986612 , 19.065935 , 25.767632 ,
       22.252602 , 16.649778 , 23.95177  , 18.182047 ,  6.878773 ,
        9.487774 ,  6.4860964, 22.933317 ,  8.461163 , 21.668646 ,
       12.1875   , 21.955263 , 28.134892 ,  9.250125 ,  8.21984  ,
       19.684738 ,  7.8427067, 32.196266 , 24.373154 , 13.214155 ,
       13.413141 , 19.191074 , 14.664213 ,  6.4377327,  6.595402 ,
       16.433468 , 14.39938  , 16.334538 , 24.373154 , 23.414495 ,
       14.517978 , 15.87572  , 15.962888 , 13.174729 ,  9.7698345,
       16.028702 , 12.1875   , 13.000586 , 12.699811 , 16.071873 ,
       21.372406 , 21.12439  , 16.266228 , 11.46816  ,  7.272782 ,
       17.110874 , 18.46188  , 17.109072 , 18.82446  , 16.576004 ,
       18.263199 , 14.428828 , 14.771571 ,  9.602643 , 21.12439  ,
       19.495245 , 19.652071 ,  7.272782 , 17.592241 , 11.365419 ,
       12.320067 , 12.428528 , 14.4859085,  6.280331 , 18.587044 ],
      dtype=float32)

In [90]:
test['compositeHourlyWages'] = pd.DataFrame(wage)

In [91]:
sub = test.drop(['age','yearsEducation','sex1M0F','catAge','catedu'],axis=1)

In [92]:
sub.to_csv('sub.csv',index=False)