In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
all_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [4]:
all_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [5]:
train_data= all_data.drop(['id','dropoff_datetime'], axis =1)
test_id= test_data['id']
test_data = test_data.drop(['id'],axis=1)

In [6]:
test_id = pd.DataFrame(test_id)
test_id.columns=['id']

In [7]:
train_data.head()

,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,2,2016-03-14 17:24:55,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,1,2016-06-12 00:43:35,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,2,2016-01-19 11:35:24,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,2,2016-04-06 19:32:31,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,2,2016-03-26 13:30:55,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [8]:
train_data.dtypes

vendor_id               int64
pickup_datetime        object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

In [9]:
import datetime

In [10]:
train_data['date'] = pd.to_datetime(train_data['pickup_datetime'])
test_data['date'] = pd.to_datetime(test_data['pickup_datetime'])

In [11]:
train_data['day']=pd.DatetimeIndex(train_data['date']).day
train_data['weekday']=pd.DatetimeIndex(train_data['date']).weekday
train_data['day']=pd.DatetimeIndex(train_data['date']).week
train_data['month']=pd.DatetimeIndex(train_data['date']).month
train_data['year']=pd.DatetimeIndex(train_data['date']).year
train_data['hour']=pd.DatetimeIndex(train_data['date']).hour
train_data['minute']=pd.DatetimeIndex(train_data['date']).minute
train_data['second']=pd.DatetimeIndex(train_data['date']).second

test_data['day']=pd.DatetimeIndex(test_data['date']).day
test_data['weekday']=pd.DatetimeIndex(test_data['date']).weekday
test_data['day']=pd.DatetimeIndex(test_data['date']).week
test_data['month']=pd.DatetimeIndex(test_data['date']).month
test_data['year']=pd.DatetimeIndex(test_data['date']).year
test_data['hour']=pd.DatetimeIndex(test_data['date']).hour
test_data['minute']=pd.DatetimeIndex(test_data['date']).minute
test_data['second']=pd.DatetimeIndex(test_data['date']).second

In [12]:
train_data.head()

,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,date,day,weekday,month,year,hour,minute,second
0,2,2016-03-14 17:24:55,1,-73.982155,40.767937,-73.964630,40.765602,N,455,2016-03-14 17:24:55,11,0,3,2016,17,24,55
1,1,2016-06-12 00:43:35,1,-73.980415,40.738564,-73.999481,40.731152,N,663,2016-06-12 00:43:35,23,6,6,2016,0,43,35
2,2,2016-01-19 11:35:24,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,2016-01-19 11:35:24,3,1,1,2016,11,35,24
3,2,2016-04-06 19:32:31,1,-74.010040,40.719971,-74.012268,40.706718,N,429,2016-04-06 19:32:31,14,2,4,2016,19,32,31
4,2,2016-03-26 13:30:55,1,-73.973053,40.793209,-73.972923,40.782520,N,435,2016-03-26 13:30:55,12,5,3,2016,13,30,55

In [13]:
from math import sin, cos, sqrt, atan2, radians
import math
train_data['pickup_latitude'].dtypes

dtype('float64')

In [14]:
from math import radians, cos, sin, asin, sqrt

def haversine(row):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians
    lon1 = row['pickup_longitude']
    lat1 = row['pickup_latitude']
    lon2 = row['dropoff_longitude']
    lat2 = row['dropoff_latitude']

    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    km = 6367 * c
    return km

In [15]:
train_data['distance'] = train_data.apply(haversine, axis=1)
test_data['distance'] = test_data.apply(haversine, axis=1)

In [16]:
train_data['distance'].head()

0    1.497580
1    1.804374
2    6.381090
3    1.484566
4    1.187842
Name: distance, dtype: float64

In [24]:
train_data.head()

,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,date,day,weekday,month,year,hour,minute,second,distance
0,2,2016-03-14 17:24:55,1,-73.982155,40.767937,-73.964630,40.765602,N,455,2016-03-14 17:24:55,11,0,3,2016,17,24,55,1.497580
1,1,2016-06-12 00:43:35,1,-73.980415,40.738564,-73.999481,40.731152,N,663,2016-06-12 00:43:35,23,6,6,2016,0,43,35,1.804374
2,2,2016-01-19 11:35:24,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,2016-01-19 11:35:24,3,1,1,2016,11,35,24,6.381090
3,2,2016-04-06 19:32:31,1,-74.010040,40.719971,-74.012268,40.706718,N,429,2016-04-06 19:32:31,14,2,4,2016,19,32,31,1.484566
4,2,2016-03-26 13:30:55,1,-73.973053,40.793209,-73.972923,40.782520,N,435,2016-03-26 13:30:55,12,5,3,2016,13,30,55,1.187842

In [25]:
X_data = train_data.drop(['pickup_datetime','pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude','date','trip_duration','year'],axis=1)

In [26]:
X_test = test_data.drop(['pickup_datetime','pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude','date','year'],axis=1)

In [59]:
Y_data = train_data['trip_duration']

In [55]:
X_test.head()

,minute,second,distance,vendor_id_1,vendor_id_2,passenger_count_0,passenger_count_1,passenger_count_2,passenger_count_3,passenger_count_4,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,59,58,2.744701,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,59,53,2.757507,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,59,47,1.305335,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,59,41,5.265780,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,59,33,0.960239,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [29]:
X_data['vendor_id'] = X_data['vendor_id'].astype('object')
X_data['day'] = X_data['day'].astype('object')
X_data['weekday']=X_data['weekday'].astype('object')
X_data['month'] = X_data['month'].astype('object')
X_data['hour'] = X_data['hour'].astype('object')
X_data['passenger_count']=X_data['passenger_count'].astype('object')

In [30]:
X_test['vendor_id'] = X_test['vendor_id'].astype('object')
X_test['day'] = X_test['day'].astype('object')
X_test['weekday']=X_test['weekday'].astype('object')
X_test['month'] = X_test['month'].astype('object')
X_test['hour'] = X_test['hour'].astype('object')
X_test['passenger_count']=X_test['passenger_count'].astype('object')

In [80]:
test_data.passenger_count.unique()

array([1, 2, 4, 5, 3, 6, 0, 9], dtype=int64)

In [32]:

X_data = pd.get_dummies(X_data)
X_test = pd.get_dummies(X_test)

In [33]:
X_data.head()

,minute,second,distance,vendor_id_1,vendor_id_2,passenger_count_0,passenger_count_1,passenger_count_2,passenger_count_3,passenger_count_4,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,24,55,1.497580,0,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,43,35,1.804374,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,35,24,6.381090,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,32,31,1.484566,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,30,55,1.187842,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
X_data = X_data.convert_objects(convert_numeric=True)
X_test = X_test.convert_objects(convert_numeric=True)

C:\Users\my\Anaconda3\Lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.
C:\Users\my\Anaconda3\Lib\site-packages\ipykernel_launcher.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [35]:
from sklearn.preprocessing import MinMaxScaler
#train_target=pd.DataFrame(train_target.reshape(-1,1))
X_min_max = MinMaxScaler()
Y_min_max = MinMaxScaler()
train = pd.DataFrame(X_min_max.fit_transform(X_data), columns = X_data.columns)
test = pd.DataFrame(X_min_max.fit_transform(X_test), columns = X_test.columns)
test['passenger_count_8'] = 0
test['passenger_count_7'] = 0
#Y_train = pd.DataFrame(Y_min_max.fit_transform(train_target))

In [63]:
Y_data = train_data['trip_duration']

In [67]:
Y_min = Y_data.min()
Y_max = Y_data.max()

In [68]:
Y_target = (Y_data - Y_min)/(Y_max - Y_min)
Y_target.head()

0    0.000129
1    0.000188
2    0.000602
3    0.000121
4    0.000123
Name: trip_duration, dtype: float64

In [69]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers.normalization import BatchNormalization

Using TensorFlow backend.

In [93]:
model = Sequential()
model.add(Dense(32,activation='relu',input_dim=train.shape[1]))
model.add(Dense(32,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(1))

In [94]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 32)                2624
_________________________________________________________________
dense_7 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_8 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_9 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 33
=================================================================
Total params: 5,825
Trainable params: 5,825
Non-trainable params: 0
_________________________________________________________________

In [95]:
model.compile(loss='mse',optimizer='adam',metrics=['msle'])

In [101]:
model.fit(train,Y_data,epochs=10,verbose=2,validation_split=0.30)

Train on 1021050 samples, validate on 437594 samples
Epoch 1/10
 - 59s - loss: 34565893.5407 - mean_squared_logarithmic_error: 0.4376 - val_loss: 9724953.1912 - val_mean_squared_logarithmic_error: 0.4402
Epoch 2/10
 - 64s - loss: 34566521.5314 - mean_squared_logarithmic_error: 0.4356 - val_loss: 9703373.7906 - val_mean_squared_logarithmic_error: 0.4349
Epoch 3/10
 - 55s - loss: 34565034.1142 - mean_squared_logarithmic_error: 0.4343 - val_loss: 9728759.3437 - val_mean_squared_logarithmic_error: 0.5088
Epoch 4/10
 - 56s - loss: 34563319.4246 - mean_squared_logarithmic_error: 0.4276 - val_loss: 9707786.9524 - val_mean_squared_logarithmic_error: 0.3953
Epoch 5/10
 - 59s - loss: 34560646.0516 - mean_squared_logarithmic_error: 0.4265 - val_loss: 9713257.8981 - val_mean_squared_logarithmic_error: 0.4945
Epoch 6/10
 - 55s - loss: 34562632.1127 - mean_squared_logarithmic_error: 0.4269 - val_loss: 9700711.2241 - val_mean_squared_logarithmic_error: 0.4235
Epoch 7/10
 - 60s - loss: 34565938.0923 - mean_squared_logarithmic_error: 0.4280 - val_loss: 9718278.0247 - val_mean_squared_logarithmic_error: 0.5068
Epoch 8/10
 - 63s - loss: 34564193.4868 - mean_squared_logarithmic_error: 0.4238 - val_loss: 9718860.2646 - val_mean_squared_logarithmic_error: 0.3909
Epoch 9/10
 - 64s - loss: 34564542.6023 - mean_squared_logarithmic_error: 0.4219 - val_loss: 9703118.2758 - val_mean_squared_logarithmic_error: 0.3754
Epoch 10/10
 - 59s - loss: 34565500.1117 - mean_squared_logarithmic_error: 0.4234 - val_loss: 9710037.0925 - val_mean_squared_logarithmic_error: 0.3466

In [102]:
print(train.columns)
print(test.columns)

Index(['minute', 'second', 'distance', 'vendor_id_1', 'vendor_id_2',
       'passenger_count_0', 'passenger_count_1', 'passenger_count_2',
       'passenger_count_3', 'passenger_count_4', 'passenger_count_5',
       'passenger_count_6', 'passenger_count_7', 'passenger_count_8',
       'passenger_count_9', 'store_and_fwd_flag_N', 'store_and_fwd_flag_Y',
       'day_1', 'day_2', 'day_3', 'day_4', 'day_5', 'day_6', 'day_7', 'day_8',
       'day_9', 'day_10', 'day_11', 'day_12', 'day_13', 'day_14', 'day_15',
       'day_16', 'day_17', 'day_18', 'day_19', 'day_20', 'day_21', 'day_22',
       'day_23', 'day_24', 'day_25', 'day_26', 'day_53', 'weekday_0',
       'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5',
       'weekday_6', 'month_1', 'month_2', 'month_3', 'month_4', 'month_5',
       'month_6', 'hour_0', 'hour_1', 'hour_2', 'hour_3', 'hour_4', 'hour_5',
       'hour_6', 'hour_7', 'hour_8', 'hour_9', 'hour_10', 'hour_11', 'hour_12',
       'hour_13', 'hour_14', 'hour_15', 'hour_16', 'hour_17', 'hour_18',
       'hour_19', 'hour_20', 'hour_21', 'hour_22', 'hour_23'],
      dtype='object')
Index(['minute', 'second', 'distance', 'vendor_id_1', 'vendor_id_2',
       'passenger_count_0', 'passenger_count_1', 'passenger_count_2',
       'passenger_count_3', 'passenger_count_4', 'passenger_count_5',
       'passenger_count_6', 'passenger_count_9', 'store_and_fwd_flag_N',
       'store_and_fwd_flag_Y', 'day_1', 'day_2', 'day_3', 'day_4', 'day_5',
       'day_6', 'day_7', 'day_8', 'day_9', 'day_10', 'day_11', 'day_12',
       'day_13', 'day_14', 'day_15', 'day_16', 'day_17', 'day_18', 'day_19',
       'day_20', 'day_21', 'day_22', 'day_23', 'day_24', 'day_25', 'day_26',
       'day_53', 'weekday_0', 'weekday_1', 'weekday_2', 'weekday_3',
       'weekday_4', 'weekday_5', 'weekday_6', 'month_1', 'month_2', 'month_3',
       'month_4', 'month_5', 'month_6', 'hour_0', 'hour_1', 'hour_2', 'hour_3',
       'hour_4', 'hour_5', 'hour_6', 'hour_7', 'hour_8', 'hour_9', 'hour_10',
       'hour_11', 'hour_12', 'hour_13', 'hour_14', 'hour_15', 'hour_16',
       'hour_17', 'hour_18', 'hour_19', 'hour_20', 'hour_21', 'hour_22',
       'hour_23', 'passenger_count_8', 'passenger_count_7'],
      dtype='object')

In [103]:
prediction=model.predict(test)

In [109]:
Y_data

0           455
1           663
2          2124
3           429
4           435
5           443
6           341
7          1551
8           255
9          1225
10         1274
11         1128
12         1114
13          260
14         1414
15          211
16         2316
17          731
18         1317
19          251
20          486
21          652
22          423
23         1163
24         2485
25         1283
26         1130
27          694
28          892
29         2331
           ...
1458614     338
1458615     857
1458616     488
1458617     208
1458618     367
1458619     708
1458620    1162
1458621    2355
1458622     552
1458623     554
1458624     152
1458625    2002
1458626     244
1458627     880
1458628     351
1458629     601
1458630     549
1458631     342
1458632     777
1458633     979
1458634     972
1458635     237
1458636     800
1458637     760
1458638     414
1458639     778
1458640     655
1458641     764
1458642     373
1458643     198
Name: trip_duration, Length: 1458644, dtype: int64

In [98]:
#print(Y_min,Y_max)

1 3526282

In [87]:
#prediction = (prediction * (Y_max-Y_min) ) + Y_min

In [104]:
v_df = pd.DataFrame(prediction)
v_df.columns=['trip_duration']

In [105]:
v_df.head()

   trip_duration
0    1603.682617
1    1610.055786
2    1645.123657
3    1528.409790
4    1643.236084

In [106]:
test_id.head()

          id  trip_duration
0  id3004672     556.148410
1  id3505355     559.678823
2  id1217141     567.396470
3  id2150126     714.885630
4  id1598245     600.638182

In [107]:
test_id['trip_duration'] = v_df['trip_duration']

In [108]:
test_id.to_csv('submission.csv',index=False)